.container {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.side-menu {
  /* width: 200px;*/ /* Adjust the width as needed */
  padding: 20px; /* Add some padding for spacing */
}

.main-content {
  flex: 1; /* This will make the main content take up the remaining space */
  height: 100vh;
  padding-right: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.app-menu {
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}

@media (max-width: 768px) {
  .toggle-button {
    position: fixed;
  }
}